<h1>app component</h1>
<!-- <form [formGroup] = "loginform" (ngSubmit) ="collectData()">
  <input type="text" name="username" formControlName="username"/>
  <br>
  <input type="password" name="password" formControlName="password"/>
  <button type="submit">submit</button>
</form> -->

<ul>
  <li><a routerLink="add">add resto</a></li>
  <li><a routerLink="update">update resto</a></li>
  <li><a routerLink="login">login resto</a></li>
  <li><a routerLink="register">register resto</a></li>
  <li><a routerLink="list">list resto</a></li>
</ul>
<router-outlet></router-outlet>